@model CodeTechnologiesMVC.code

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>code</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClientId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClientId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExamType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExamType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExamCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExamCode)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
