@model CodeTechnologiesMVC.prometric

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>prometric</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SiteId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SiteId)
            @Html.ValidationMessageFor(model => model.SiteId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POCName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POCName)
            @Html.ValidationMessageFor(model => model.POCName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POCPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POCPhone)
            @Html.ValidationMessageFor(model => model.POCPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POCEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POCEmail)
            @Html.ValidationMessageFor(model => model.POCEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SiteAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SiteAddress)
            @Html.ValidationMessageFor(model => model.SiteAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsHired)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsHired)
            @Html.ValidationMessageFor(model => model.IsHired)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PerExamProfit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PerExamProfit)
            @Html.ValidationMessageFor(model => model.PerExamProfit)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
