@model PagedList.IPagedList<CodeTechnologiesMVC.Models.MailViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p> 
    @Html.ActionLink(" Bulk Mail Upload", "ImportMailExcelFileToDB")
</p>
@using (Html.BeginForm())
{
    <p>
        Find By Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table>
    <tr>
        <th>
            ReceivedDate
        </th>
        <th>
            CandidateName
        </th>
        <th>
            ExamNo
        </th>
        <th>
            Discount
        </th>
        <th>
            Abroad
        </th>
        <th>
            ScheduledDate
        </th>
        <th>
            Name
        </th>
        <th>
            VoucherNo
        </th>
        <th>
            Client
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CandidateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abroad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoucherNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client)
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber ) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))