@model CodeTechnologiesMVC.prometricpromotion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>prometricpromotion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SiteId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SiteId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateFrom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateFrom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateTo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateTo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MarginGain)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MarginGain)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MarginMiss)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MarginMiss)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "IndexWithId", new { siteId = Model.SiteId})
</p>
